@import 'partials/mixins';
@import 'partials/cards';


body {
	background: #F0F0F0;
}

* {
	font-family: 'Open Sans';
}

.btn {
	background-color: #34495e !important;
}

.page-title {
    float: left;
    width: 220px;
    font-size: 1.5em;
    text-align: center;
    height: 50px;
    display: inline-block;
    border-right: 1px solid rgba(255,255,255,0.3);
}

nav.top-nav {
	position: fixed;
	top: 0;
	left: 0;
    height: 50px !important;
    line-height: 50px;
    z-index: 9999 !important;
    background-color: rgba(34, 49, 63, 1);
	
	.dropdown-content li a {
		color: rgba(34, 49, 63, 1);
	}
    
    form {
        display: inline-block;
    }
	
	.dropdown-button {
		height: 50px;
		
		i {
			height: 50px;
			line-height: 50px;
			margin-left: 5px;
		}
	}
}

ul.side-nav {
    margin-top: 50px;
	width: 220px;
    background-color: #34495e;
    
    a {
        font-size: 0.9em;
        padding: 0 0 0 10px !important;
        height: 40px;
        width: 100%;
        line-height: 40px;
        color: rgba(255,255,255,0.8) !important;
        border-bottom: 1px solid rgba(255,255,255,0.3);
    }
    
    i {
        float: left;
        padding: 6px 10px 6px 0;
    }
}

main {
    float: left;
	position: relative;
    padding-left: 220px;
	padding-top: 50px;
    width: 100%;
	
	@include breakpoint(tablet) {
		padding-left: 0;
	}
}

#search-gigs .input-field  {
    
    i {
        height: 3rem;
        line-height: 3rem;
        margin-left: 0rem;
    }
    
    input {
        text-align: left;
        margin-left: 0rem !important;
        padding-left: 3rem;
    }
    
}

input:focus, textarea:focus {
	
	border-color: rgba(34, 49, 63, 1) !important;
}

.submit-gig,
.login-form {
	input, 
	textarea, 
	.select-wrapper,
	.category-label {
//		max-width: 400px;
	}
	
	.select-wrapper,
	.category-label {

	}
	
	input, 
	textarea, 
	select,
	option {
		text-align: center;
	}

}
#search-gigs, #gig-list {
	opacity: 1;
	transform: scale(1);
	transition: 0.25s opacity, 0.25s transform;
	
	&.inactive {
		opacity: 0;
		transform: scale(0.8);
	}
}

#gig-list {
	padding: 20px 20px;
	
	
}

.bar {
	float: left;
	position: relative;
}

.text-center {
	text-align: center;
}

nav a.button-collapse,
nav a.button-collapse i{
	cursor: pointer;
	height: 50px;
	line-height: 50px;
}


