<div class="card login-card">
	<form class="login-form" ng-submit="login(credentials)" ng-if="!$root.user" novalidate>
		<div class="card-content">
			<h4>Login</h4>
			<div class="input-field col s12 m8 offset-m2">
				<input id="icon_prefix2" type="text" class="validate" placeholder="username" name="username" ng-model="credentials.username"> 
			</div>
			<div class="input-field col s12 m8 offset-m2">
				<input id="icon_prefix2" class="validate" placeholder="password" name="password" ng-model="credentials.password">
			</div>
			<div class="input-field col s12 m8 offset-m2">
				<input type="submit" class="waves-effect waves-light btn">
			</div>
		</div>
	</form>
	
	<div class="card-content" ng-if="$root.user">
		<h4>You're already logged in!</h4>
		<a href="/profile">View Your Profile</a>
		<a href="/create-gig">Create a Gig</a>
		<a href="/logout">Log Out</a>
	</div>
</div>