<!DOCTYPE html>
<html lang="en" ng-app="sidegig">
<head>
    <meta charset="UTF-8">
    <title>Sidegig</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css' type='text/css' media='all' />
    <!-- inject:css -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <!-- endinject -->
    
     
</head>
<body>
   
    <header>
        <nav class="top-nav">
            <div class="nav-wrapper">
               	<a role="button" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                <a href="./#/" class="page-title">Sidegig.io</a>
                <ul id="dropdown1" class="dropdown-content">
					<li><a href="#profile">Your Profile</a></li>
					<li><a href="#settings">Settings</a></li>
					<li class="divider"></li>
					<li><button ng-click="$root.logout()">Log Out</button></li>
				</ul>
                <ul class="right hide-on-med-and-down">
                   	<li><a href="#create-gig"  id="create-btn">Create Gig</a></li>
                    <li><a href="#!" class="dropdown-button" data-activates="dropdown1">Account<i class="material-icons right" ng-if="$root.user">arrow_drop_down</i></a></li>
                    <li><a href="#login" ng-if="!$root.user">Log In</a></li>
                    <li><a href="#register" ng-if="!$root.user">Register</a></li>
                    
                </ul>
            </div>
        </nav>
        
        <ul class="side-nav fixed">
           	<li><a href="./#/" class="all"><i class="material-icons">group_work</i>All Categories</a></li>
            <li><a href="#/gigs/category/web"><i class="material-icons">computer</i> Web Development</a></li>
            <li><a href="#/gigs/category/music"><i class="material-icons">music_note</i> Music</a></li>
            <li><a href="#/gigs/category/comics"><i class="material-icons">create</i> Graphic Novels</a></li>
            <li><a href="#/gigs/category/games"><i class="material-icons">power_settings_new</i> Game Development</a></li>
        </ul>
        
         <ul class="side-nav fixed hide-on-large-only" id="nav-mobile">
           	<li><a href="./#/" class="all"><i class="material-icons">group_work</i>All Categories</a></li>
            <li><a href="#/gigs/category/web"><i class="material-icons">computer</i> Web Development</a></li>
            <li><a href="#/gigs/category/music"><i class="material-icons">music_note</i> Music</a></li>
            <li><a href="#/gigs/category/comics"><i class="material-icons">create</i> Graphic Novels</a></li>
            <li><a href="#/gigs/category/games"><i class="material-icons">power_settings_new</i> Game Development</a></li>
            <li><a href="#create-gig"  id="create-btn">Create Gig</a></li>
            <ul id="dropdown2" class="dropdown-content">
				<li><a href="#profile">Your Profile</a></li>
				<li><a href="#settings">Settings</a></li>
				<li class="divider"></li>
				<li><button ng-click="$root.logout()">Log Out</button></li>
			</ul>
			<li><a href="#!" class="dropdown-button" data-activates="dropdown2" ng-if="$root.user">Account<i class="material-icons right">arrow_drop_down</i></a></li>
			<li><a href="#login" ng-if="!$root.user">Log In</a></li>
       		<li><a href="#register" ng-if="!$root.user">Register</a></li>
       		
        </ul>
        
        
	</header>
  
   
    <main>
        
        <div class="row" id="gig-list" ng-view>
           
        </div>
    </main>
    
    <!-- inject:js -->
    <script src="/assets/js/vendor/vendor.js"></script>
    <script src="/assets/js/app/main.js"></script>
    <!-- endinject -->
    
    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js'></script>

</body>
</html>